@model IEnumerable<RPGAmbientApp.Models.AudioFile>


<body class="bg-image" style="
      background-image: url('/MediaLibrary/Images/bg4.jpg');
      height: 100vh;">
    <div class="container d-flex">
        @foreach (var song in Model)
        {
            <div class="container">
                <h4>@song.Name</h4>
                <input type="image" src="@Url.Content(song.ImgPath)" data-toggle="modal" data-target="#id_@song.ID.ToString()" class="rounded" width="360" height="270" />

                <div class="modal fade" id="id_@song.ID.ToString()" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">@song.Name</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body d-flex justify-content-center">
                                <div class="justify-content-around">
                                    <audio controls>
                                        <source src="@Url.Content(song.FilePath)" type="audio/ogg">
                                    </audio>
                                </div>
                                <div>
                                    <h5>Adventure idea</h5>
                                    <div class="modal-body d-flex text-j`ustify">
                                        @if (song.AdventureIdea == null)
                                        {
                                            song.AdventureIdea = "Coming soon!";
                                        }
                                        @song.AdventureIdea
                                    </div>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>

</body>